.main-work-layer{
  margin-top: 50px;
}

.blog-masthead {
    background-color: #88b04b;  /*Pantone : Greenery*/
    -webkit-box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
    box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
}

.blog-nav .active {
    color: #fff;
}

.blog-nav-item {
    position: relative;
    display: inline-block;
    padding: 10px;
    font-weight: 500;
    color: #cdddeb;
}
